body {
    background: #FFFFF0;
}

h1 {
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 3px;
}

.block {
    background-color: #CCFFFF;
    padding: 40px 10px 40px 10px;
    margin: 33px;
    border-radius: 200px;
    font-size: 33px;
    font-family: 楷体;
}

.block:hover {
    padding: 45px 15px 45px 15px;
    font-size: 40px;
    margin: 20px;
}

.btn {
    font-size: 30px;
    color: #fff;
    background: #00b4ef;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    margin-top: 40px;
    margin-bottom: 60px;
}

li {
    font-size: 20px;
}

ul {
    margin-top: 50px;
    margin-bottom: 15px;
}

#youshi {
    font-size: 50px;
}

.footer {
    font-size: 12px;
}

#part2 {
    background-color: pink;
    height: 100vh;
}

#part1 {
    height: 100vh;
}

.col-sm-offset-3 {
    margin-left: 33%;
}