<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>问卷小行星</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/style2.css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<div id="app">
    <el-container>
        <el-header>
                <el-col :md="{span:18,offset:3}">
                    <h1>{{title}}</h1>
                </el-col>
        </el-header>
        <el-form  action="1603.php" method="post" content="text/plain">
            <el-row type="flex" justify="center">
                <el-col :md="12" :xs="24">
                    <el-form-item v-for="(Value,Key,Index) in MainInformations" :key="Index">
                        <el-input v-model="MainInformations[Key]" v-if="MainType[Index]=='input'" :placeholder="Key">
                            <i :class="MainIcon[Index]" slot="prefix"></i>
                        </el-input>
                        <template v-if="MainType[Index].hasOwnProperty('radio')" >
                            <span v-if="MainType[Index]['note']">{{Key }}:</span>
                            <el-row type="flex" justify="center">
                            <el-col v-for="choice in MainType[Index]['radio']" :key="Index" :md="24" :xs="4">
                                <el-radio v-model="MainInformations[Key]" :label="choice"></el-radio>
                            </el-col>
                            </el-row>
                        </template>
                        <template  v-if="MainType[Index].hasOwnProperty('checkBox')">
                        <span v-if="MainType[Index]['note']">{{Key}}:</span>
                        <el-checkbox-group v-model="MainInformations[Key]">
                            <el-checkbox v-for="choice in MainType[Index]['checkBox']" :key="Index" :label="choice"></el-checkbox>
                        </el-checkbox-group>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>
                    <hr/>
                    <el-row>
                        <div v-for="(RepeatableInformation,RepeatTimes) in RepeatableInformations" :key="RepeatTimes">
                            <el-form-item v-for="(Value,Key,Index) in RepeatableInformation" :key="Index">
                          <el-col :md="{span:12,offset:6}" :xs="24" >
                                  <el-input v-model="RepeatableInformation[Key]" v-if="RepeatType[Index]=='input'" :placeholder="Object.keys(RepeatableInformations[0])[Index]">
                                      <i :class="RepeatableIcon[Index]" slot="prefix"></i>
                                  </el-input>
                                  <template v-if="RepeatType[Index].hasOwnProperty('radio')" >
                                      <span v-if="RepeatType[Index]['note']">{{Object.keys(RepeatableInformations[0])[Index]}}:</span>
                                      <el-row type="flex" justify="center">
                                          <el-col v-for="choice in RepeatType[Index]['radio']" :key="Index" :md="24" :xs="4">
                                              <el-radio v-model="RepeatableInformation[Key]" :label="choice"></el-radio>
                                          </el-col>
                                      </el-row>
                                  </template>
                                  <template  v-if="RepeatType[Index].hasOwnProperty('checkBox')">
                                      <span v-if="RepeatType[Index]['note']">{{Object.keys(RepeatableInformations[0])[Index]}}:</span>
                                      <el-checkbox-group v-model="RepeatableInformation[Key]">
                                          <el-checkbox v-for="choice in RepeatType[Index]['checkBox']" :key="Index" :label="choice"></el-checkbox>
                                      </el-checkbox-group>
                                  </template>

                        </el-col>
                        <el-col :md="6" :xs="24">
                            <p class="note" v-if="RepeatTimes==0">{{note[Index]}}</p>
                        </el-col>
                            </el-form-item>
                            <hr/>
                        </div>
                    </el-row>
            <el-form-item>
                <el-row type="flex" justify="center">
                    <el-button @click="repeat" v-if="Repeatable" type="primary" round>+</el-button>
                    <el-button @click="del" v-if="RepeatableInformations.length>1" type="primary" round>-</el-button>
                    <el-button  type="primary" @click="submit" round>完成!</el-button>
                </el-row>
            </el-form-item>
        </el-form>
    </el-container>
    <el-footer >
        <el-row type="flex" justify="center">
            <p>Copyright ©2017 by 李井瑞. All Rights Reserved</p>
        </el-col>
        </el-row>
    </el-footer>
</div>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/index.js"></script>
<script src="js/app.js"></script>
</body>
</html>